/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

/* header  */
header{background-image: url("./banner/banner3.png");
height: 700px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

*{margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header-title{
    text-align: right;
padding: 220px 230px 360px 850px;
}

.title-h2{
color: whitesmoke;
    font-size: 35px;
}

.title-p{
    color: whitesmoke;
    font-size: 17px;
    
}
.main-button{ 
    font-size: 20px;
    width: 600;
    border: none;
    background-color: whitesmoke;
}

/* main  */


/* img-failor section */

.img-girl{height: 500px; width: 400px;
padding: 40px 100px 5px 180px;
}
#fail-section{display: flex;
align-items: center;
}

.list{font-size: 12px;}
.img-title{padding-left: 70px;
line-height: 24px;
text-align: left;
}

/* skills section */
.skills-title{
text-align: center;
margin-bottom: 55px;
margin-top: 80px;

}
.skills{display: flex;
gap: 90px;
justify-content: center;
text-align: center;
}


/* call me section */

#call-me-img{
background-image: url("watch.png");
height: 250px;
width: 1000px;
background-repeat: no-repeat;
background-size: contain;
margin: 50px 0px 30px 240px;
border-radius: 8px;
color: rgb(255, 255, 255);
/* background: linear-gradient(90deg, #b0dbff 0%, rgba(0, 95, 172, 0.00) 100%); */
padding: 60px 0px 20px 15px;

}

/* footer section */
#footer{
background-color: black;
display: flex;
}





.footer-info{line-height: 50px;
text-align: left;
align-items: center;

}

input[type="email"]
{background-color: black;
    border-radius: 5px;
    padding: 10px 20px 10px 8px;
    color: white; border: 3px solid white;

}
#subscribe{
    padding: 20px 25px 20px 25px;
    border-radius: 7px;
}
.footer-info2{
    padding: 90px 120px 150px 130px;
line-height: 70px;
}

.footer-info1{
    margin-left: auto;
    margin-top: 20px;
width: 40%;
}


